extends layout.pug

block content

    if error
            h2.error Oooops!
            ul.error
                if titleErr 
                    li Title is required
                if authorErr
                    li Author is required
    p
        a.button(href=`/books/${id}`) Back to Updating